{% extends "base.html" %}
{% block title %}Auctions{% endblock %}
{% block head %}{{ super() }}{% endblock %}

{% block content %}
<div class="hero-unit">
    <h1>Contact Us</h1>
</div>

<table class='table table-striped'>
    <tr>
        <td><a href='/'>Home</a></td>
        <td><a href='/auction_room'>Auction Room</a></td>
        <td><a href='/news'>What is New</a></td>
        <td><a href='/about_us'>About Us</a></td>
    </tr>
    </table>

<p>
    Any questions, suggestions, praise or criticism?
Please write to us by email or post.
You can also call us directly.
</p>
{% endblock %}

