{% extends "base.html" %}
{% block head %}
	{{ super() }}
	<style>
		#question_table td {
		}
		#question_table {
			width: 100%;
			border-spacing: 10px;
			border-collapse: separate;
		}
                .left_col, .right_col, .middle_col {
                    width: 33%;
                }
		.left_col button {
			float: left;
			font-size: 300%;
		}
		.right_col button {
			float: right;
			font-size: 300%;
		}
		.middle_col {
			font-size: 300%;
			font-weight: bold;
			width: 100px;
			text-align: center;
		}
	</style>
{% endblock %}

{% block content %}
<p>
{% render_table request table%}
</p>
{% endblock %}

