{% extends "base.html" %}
{% block title %}Auctions{% endblock %}
{% block head %}{{ super() }}{% endblock %}

{% block content %}
<table id="auctable" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Current Price</th>
        </tr>
    </thead>
    <tbody>
       {% for item in table %}
        <tr class="auctions">
            <td><img src="{{ item['info']['image']['small'] }}" align="middle"></td>
            <td><a href="/single_item/{{ item['id'] }}">{{ item['name'] }}</a></td>
            <td><p>{{ item['price'] }}</p></td>
        </tr>
       {%endfor%}
    </tbody>
</table>
<script>
    $(document).ready(function() {
        var t = $('#auctable').DataTable(
        );
    });
</script>
{% endblock %}

